.cont-page{
    margin: 6em 8em;
    height: 85vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
}

.pageContent{

   height: 90vh;
   width: 70vw;

}
.pageSider{
    width: 10vw;
    height: 85vh;
    background-color: #4153C8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
